body {
    font-family: Arial, sans-serif;
    background: #F4F6F8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    text-align: center;
    border: 1px solid #1E2A38;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer {
    background-color: #1E2A38;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
}

footer p {
    margin: 5px;
    font-size: 12px;
}

.cabecalho p {
    margin: 0;
    font-size: 20px;
}

#fotoMenu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#fotoPerfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #1E2A38;
}

#fotoPerfil:hover {
    transform: scale(1.2);
}

.corpo {
    display: flex;
    height: calc(100vh - 100px);
}

.Lateral {
    display: flex;
    flex-direction: column;
    background-color: #6C757D;
    height: 101%;
    width: 70px;
    border: 1px solid #1E2A38;
}

.Lateral img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.Lateral img:hover {
    transform: scale(1.2);
}

.caixaChat {
    display: flex;
    flex: 1;
}

.listaContatos {
    width: 272px;
    background-color: #E0E0E0;
    border: 1px solid #1E2A38;
    padding: 10px;
    overflow-y: auto;
    margin: 10px;
}

.contato {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.newChat {
    display: flex;
    height: 20px;
    justify-content: space-between;
}

.newChat h1 {
    display: flex;
    font-size: 20px;
    margin: 2px 0px 0px 2px;
}

.newChat button {
    display: flex;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    align-items: center;
    margin: 4px 4px 0px 0px;
}

.pesq {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.pesq input {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #1E2A38;
}

.pesq img {
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: 1px solid #1E2A38;
    border-radius: 10px;
    padding: 2px 5px;
}

.pesq a:img:hover {
    background-color: #6C757D;
}

.contato.online {
    border-left: 5px solid #28a745;
    height: 60px;
}

.contato.online p {
    display: inline-block;
    color: #6B7A8F;
    height: 10px;
    margin-top: 5px;
}

.contato.online h1 {
    font-size: 16px;
    margin: 0px;
}

.contato.online img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #1E2A38;
    margin-right: 20px;
    display: inline-block;
}

.contato.offline {
    border-left: 5px solid #dc3545;
}

.contato.offline p {
    display: inline-block;
    color: #6B7A8F;
    height: 10px;
    margin-top: 5px;
}

.contato.offline h1 {
    font-size: 16px;
    margin: 0px;
}

.contato.online:hover {
    transform: scale(1.05);
}

.contato.offline:hover {
    transform: scale(1.05);
}

.areaConversa {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin: 10px 10px 10px 1px;
    border: 1px solid #1E2A38;
}

.topoConversa {
    background-color: #DEE2E6;
    padding: 10px;
    border-bottom: 1px solid #1E2A38;
    display: flex;
}

.topoConversa img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #1E2A38;
    margin-right: 20px;
}

.mensagens {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.mensagem {
    padding: 10px;
    margin: 5px 0;
    max-width: 60%;
    border-radius: 10px;
}

.mensagem.enviada {
    background-color: #d1e7ff;
    align-self: flex-end;
    text-align: right;
}

.mensagem.recebida {
    background-color: rgb(211, 211, 211);
    align-self: flex-start;
}

.campoMensagem {
    display: flex;
    padding: 10px;
    border-top: 1px solid #1E2A38;
    background-color: #E9ECEF;
}

.campoMensagem input {
    flex: 1;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #6B7A8F;
    padding-left: 10px;
    outline: none;
}

.campoMensagem button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.campoMensagem button:hover {
    background-color: #0056b3;
}
